.contact_container {
    border-radius: 1.2rem;
    padding-right: 6rem;
    align-items: center;
    text-align: center;
    max-width: 400rem;
    display: table;
    clear: both;
    font-family: 'raleway';
    font-weight: 300px;
}

.column {
    float: left;
    width: 50%;
    text-align: left;

}
.column h4, h3 {
    font-weight: 300;
        color: #444;
        text-transform: uppercase;
        vertical-align: baseline;
}
.footer_socials {
}
.footer_socials a {
    font-size: 1.5rem;
    width: 1rem;
    justify-content: center;
    color: black;
    padding: 0.35rem;
    margin: 0;
    border-radius: 0.7rem;
    border: 1px solid transparent;
    transition: all 400ms ease-out;
}

.footer_socials a:hover {
    background: transparent;
    color:purple;
}

@media screen and (max-width: 600px) {
    .contact_container{
        margin-left: 2rem;
    }
    .contact_container > .footer_socials {
        margin-left: 5rem;
    } 
}

@media screen and (max-width: 1024px) {
    .contact_container {
        
        margin-left: 8rem;
    }
    .contact_container > .footer_socials {
        margin-left: 2rem;
    }
}